$max_width : 1500px;
$left_width : 250px;
$header_height: 56px;
$text-color: #656c6c;
$primary-color :  #1e3368;
$second-color : #ee1d24;
$_3-color: #8bb300;
/** cv */
$cv-bg-left-style1 : #117a8b;
$cv_color_user_name_style1 : #fff;
$cv-color-left-style1 : #fff;
/** end cv */